<%= simple_form_for(@task) do |f| %>
	<div class="box_wrap box_wrap_1">
		<div class="panel-left">
			<table class="tbl_fc tbl_fc_1">
			<tbody>
			  <tr>
			    <tr><td class="caption">Наименование:</td>
						<td width="300px"><div class="lbl fullwidth"><%= f.input :name, label: false %></div></td></tr>
			  </tr>
			  </tbody>
			</table>



<%= f.button :submit, value: 'Сохранить', :class => 'sub btn_a ' %>

<% end %>