<% if !object.errors.nil? && object.errors.any? %>
  <div id="error_explanation">
    <span>
      Форма содержит <%= t('error', :count => object.errors.count) %>:
    </span>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li class="f_danger"><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>