body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {font-family: verdana, arial, helvetica, sans-serif; font-size: 13px; line-height: 18px; }
pre {background-color: #eee; padding: 10px; font-size: 11px; }

div {&.field, &.actions {margin-bottom: 10px; } }
div {display: block; }
#notice {color: green; }
.field_with_errors {padding: 2px; background-color: red; display: table; }
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.sep_15 {height: 15px; }

input[type="submit"]:focus, input[type="reset"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="email"]:focus, input[type="search"]:focus, 
input[type="password"]:focus, textarea:focus,.comment_area:focus, .txt:focus, #datepicker:focus, input[type="number"]:focus { 
 outline:0;
 border-color:rgba(255,132,17,0.8);
-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.1),0 0 1px 3px rgba(255,232,215,0.6);
-moz-box-shadow:inset 0 1px 3px rgba(0,0,0,0.1),0 0 1px 3px rgba(255,232,215,0.6);
 box-shadow:inset 0 1px 3px rgba(0,0,0,0.1),0 0 1px 3px rgba(255,232,215,0.7);

transition: border linear 0.3s,box-shadow linear 0.3s;
}

.tool_icons{ display: none; float: right; text-align: center; width: 45px; position: absolute; top: 7px; margin: 10px; right: 45px; }
.tool_icons a{margin-right: 5px;}
.tool_icons:hover {display: block !important;}
.view:hover .tool_icons {display: block;}

.editable input{width: 100% !important;}

.hl_a.bd {border-bottom: 2px solid #e5e5e5; padding: 0 0 16px 0; margin: 0 0 30px 0; }
.hl_a {font-size: 17px; color: #000; line-height: 1.2; margin: 0 0 14px 0; font-weight: 500; }

.modal-header {min-height: 16px; }
.close.text {filter: alpha(opacity=20); opacity: .4; padding: 2px 0 0 4px; }
button.close {-webkit-appearance: none; padding: 0; cursor: pointer; background: transparent; border: 0; }
.close {float: right; font-size: 13px; line-height: 1.2; color: #000; text-shadow: 0 1px 0 #fff; }
.modal-content {padding: 40px; }

table td {font-size: 13px; } 
table.tbl_fc td.caption { padding-right: 15px; text-align: right; font-weight: bold; }
.fullwidth, .fullwidth input {width: 100%;}

.inp_btn.checkbox, span.check_img {
    background: image-url("pict01.png");
    width: 18px;
    height: 18px;
    background-position: -87px 0;
}

.inp_btn.checkbox, span.check_img {width: 18px; height: 18px; background-position: -87px 0; }
.inp_btn, span.check_img {
    display: inline-block;
    background: image-url("pict01.png") no-repeat -87px 0;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    vertical-align: top;
}
.inp_btn.checkbox input {position: absolute; top: 0; left: -50px; } 
.auth_form {width: 430px; margin: 0 auto; margin-top: 130px; }
.menu_main ul, .submenu ul, .items_box_head ul {margin: 0 0 0 0; padding: 0 0 0 0; list-style: none; overflow: hidden; }
.menu_main {height: 44px;  position: relative; margin-bottom: 40px; }
.menu_main ul li, .submenu ul li, .items_box_head ul li {margin: 0 0 0 0; padding: 0 0 0 0; background: none; float: left; }
.menu_main ul li a {
    display: inline-block;
    text-decoration: none;
    line-height: 44px;
    background: image-url("bg1_2.png") no-repeat 100% -100px;
    padding: 0 14px 0 14px;
}

.menu_main ul li:not(.disabled) a:hover, .menu_main ul li.active a {background-position: 100% 0; }
.menu_main ul li:not(.disabled) a:hover, .menu_main ul li.active a, .menu_main .btn_options:hover {
    //background: #59c600;
    //background: linear-gradient(to top, #59c600, #61c900);
    //background: image-url("bg1_2.png") no-repeat 100% -100px;
    color: #fff;
}

.menu_main ul li:first-child a {padding-left: 20px; border-radius: 5px 0 0 5px; }
#logout a {padding-left: 20px; border-radius: 0 5px 5px 0; }
#logout span {background: image-url("exita.png") no-repeat 0 0; background-position: 0 0; padding-top: 4px; border-radius: 0 5px 5px 0;}

#options span {background: image-url("gear.png") no-repeat 0 0; background-position: 0 0; }
.li-right a span {padding: 9px 16px; margin: 0; }
.li-right, .right {float: right !important; margin-top: 0 !important; }

.box_wrap:after {content: ' '; clear: both; display: block; width: 0; height: 0; overflow: hidden; font-size: 0; }


#main_container{box-sizing: border-box; display: block;}
#main_container:before{
    display: table;
    content: " ";
    
}