.timepicker {
    background: asset-url('ico-clock.png') 90% 8px no-repeat;
    float: left;
    width: 80px !important;
    cursor: pointer;
}

.time_separator{ padding: 7px; float: left; display: inline-block; width: 14px; text-align: center; color: #737373; }

.datepicker { background: asset-url('ico-date.png') 95% 8px no-repeat; cursor: pointer;}
.editable input[type="text"].datepicker { background: asset-url('ico-date.png') 95% 5px no-repeat; cursor: pointer; }
.inp_w .datepicker{ background: asset-url('ico-date.png') 93% 8px no-repeat; }

.inp_w .sum_mask { background: asset-url('rub.png') 98% 8px no-repeat; padding-right: 22px; }

.modal-content .inp_w .sum_mask { background: asset-url('rub.png') 99% 8px no-repeat; padding-right: 24px; }
.modal-content .inp_w .sum_mask[disabled]  {background: asset-url('rub-dis.png') 99% 8px no-repeat; color: gray;}

.inp_w .float_mask { background: asset-url('m2.png') 98% 8px no-repeat; padding-right: 24px; }

.sum_total { border-left: 5px solid #ff8411;}
.sum_rest { border-left: 5px solid #6acc00; }
.sum_cost { border-left: 5px solid #009ddd; }

.tbl_fc_1 .inp_w .datepicker{ background: asset-url('ico-date.png') 98% 8px no-repeat; }

input[disabled].datepicker { background: asset-url('ico-date.png') 98% -27px no-repeat !important; }

input[disabled] {cursor: default; box-shadow: none !important;}
td.disabled {color: gray !important;}


.datepicker.slim_txt{ background: asset-url('ico-date.png') 94% 4px no-repeat; }

.caption_to{ width: 95px !important;}

.ui-datepicker {background: asset-url('bg0_1.png') repeat; padding: 26px 22px 20px 22px; margin: -50px 0 0 108px; border-radius: 5px; box-shadow: 0 0 20px rgba(0,0,0,0.2); position:relative; line-height: 1; font-size: 14px;}
.ui-datepicker:after {content: ' '; display: block; width: 27px; height: 60px; background: asset-url('month2.png') no-repeat 0 0; position:absolute; left: -27px; top: 0;}
.ui-datepicker .ui-datepicker-header{text-align: center; position:relative; margin:0 0 18px 0; font-weight: 500;}

.ui-datepicker-title {padding: 3px 5px;}



.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next{ font-size: 0; display: block; width: 7px; height: 14px; 
                                    position:absolute; top: 0; cursor:pointer; padding: 3px 8px;}

.ui-datepicker .ui-datepicker-prev.ui-state-hover,
.ui-datepicker .ui-datepicker-next.ui-state-hover {background: #ff8411; border-radius: 5px;}                                   

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span{ background: asset-url('arr1.png') no-repeat; width: 7px; height: 14px;display: block;}

.ui-datepicker .ui-datepicker-prev { left: 7px;}
.ui-datepicker .ui-datepicker-next { right: 7px;}

.ui-datepicker .ui-datepicker-prev span{background-position:-32px 0; }
.ui-datepicker .ui-datepicker-next span{background-position:-41px 0; }

.ui-datepicker .ui-datepicker-calendar{border-collapse:collapse; }
.ui-datepicker .ui-datepicker-calendar th{text-align: center; vertical-align:top; padding: 0 0 5px 0; font-weight: 500;}
.ui-datepicker .ui-datepicker-calendar td{text-align: center; vertical-align:top; padding:0;}
.ui-datepicker .ui-datepicker-calendar .ui-state-default{display: block; width: 32px; height: 29px; line-height:29px; color: #000; text-decoration:none; border-radius: 5px; position:relative;}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-today .ui-state-default{border:1px solid #ff8411; width: 30px; height: 27px; line-height: 27px;}

.ui-datepicker .ui-datepicker-calendar .ui-datepicker-current-day .ui-state-default{background: #ff8411; border: 0; color: #fff; }
.ui-datepicker .ui-datepicker-calendar .ui-state-default:hover{background: #ff8411; opacity: 0.8; color: white; }
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-other-month .ui-state-default{color: #7d7d7d; }


.ui-datepicker.ui-position-top {margin-top: 50px;}
.ui-datepicker.ui-position-top:after {top: auto; bottom: 0;}

